@using MinervaSystem.Base.Models;
@model ChangePasswordViewModel
@{
    ViewBag.ReturnUrl = "/";
    ViewBag.HeaderContent = ViewBag.HeaderContent ?? new HeaderContentModel("Change Your Password", new BreadcrumbModel("Change Password"));
}

@Html.Partial("_HeaderContentPartial", (HeaderContentModel)ViewBag.HeaderContent)

<div id="placeHolder-main">
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>

        <div class="btn-toolbar">
            <button type="submit" value="Change Password" class="btn btn-default"><i class="fa fa-check-square-o btn-save"></i> Change Password</button>
            <a href="@ViewBag.ReturnUrl" class="btn btn-default "><i class="fa fa-ban btn-cancel"></i> Cancel</a>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}