@using MinervaSystem.Base.Models
@model LoginViewModel
@{
    ViewBag.Title = "BSFIC Login";
}

<br />
<br />
<br />
<style>
    .logoForm{width: 70%;float:left;}
            body {
            background: url(../Content/Admin/img/backGround.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
        }
</style>
<div id="placeHolder-main" class="row" style="margin-top: 100px;">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading header-title" style="font-size:15px;font-weight:bold;">Bangladesh Sugar & Food Industries Corporation Login</div>
            <div class="panel-body">
                <section id="loginForm">
                    <div style="width: 20%; float: left;">
                        <img src="../Images/logo.png" alt="logo"  style="height: 100px;width: 100px;">
                    </div>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal logoForm", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                <br />
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                <br />
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <hr />
                        @*<div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>*@
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-default long" id="btnLogin" style="float:right;"><i class="fa fa-sign-in btn-save"></i> Log on</button>
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/cldr")
    @Scripts.Render("~/bundles/globalize")
    @Scripts.Render("~/bundles/jqueryval")
}