@using MinervaSystem.Base.Models;
@model ResetPasswordViewModel
@{
    ViewBag.ReturnUrl = "/Admin";
    @Styles.Render("~/Content/kendo.office365")

    ViewBag.HeaderContent = ViewBag.HeaderContent ?? new HeaderContentModel("Reset User Password",
        new BreadcrumbModel("Reset Password", new List<LinkModel>() { new LinkModel("/Admin", "Site Actions") }));
}

@Html.Partial("_HeaderContentPartial", (HeaderContentModel)ViewBag.HeaderContent)

<div id="placeHolder-main">
    @using (Html.BeginForm("ResetPassword", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @*@Html.HiddenFor(model => model.Code)*@

        <div class="form-group">
            @Html.LabelFor(m => m.UserId, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.UserId, Model.AllUsers, "Please Select ...", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>

        <div class="btn-toolbar">
            <button type="submit" value="Submit" class="btn btn-default"><i class="fa fa-check-square-o btn-save"></i> Reset</button>
            <a href="@ViewBag.ReturnUrl" class="btn btn-default "><i class="fa fa-ban btn-cancel"></i> Cancel</a>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/kendo")
    <script type="text/javascript">
        $(document).ready(function () {
            $("select").kendoDropDownList({filter: "contains"});
        });
    </script>
}
