@using MinervaSystem.Base.Models
@using MinervaSystem.Base.Models.ViewModels;
@model SupplyInformationViewModel
@{
    ViewBag.Title = "Create Supply Information";
    @Styles.Render("~/Content/kendo.office365")
    ViewBag.ReturnUrl = "/SugerMill";
    ViewBag.HeaderContent = ViewBag.HeaderContent ?? new HeaderContentModel("Create Supply Information", new BreadcrumbModel("Create Supply Information"));
}
@*<link href="~/Content/site.css" rel="stylesheet" />*@
@Html.Partial("_HeaderContentPartial", (HeaderContentModel)ViewBag.HeaderContent)
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div id="placeHolder-main" class="col-md-6">
                  @using (Html.BeginForm("CreateSupplyInformation", "SugerMill", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                  {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        @Html.HiddenFor(m => m.FarmerId, new { @id = "txtFarmerId", @class = "form-control" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.FarmerName, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.FarmerName, new { @id = "txtFarmerName", @class = "form-control" })
                                <input type="button" id="farmerPopup" value="Farmer">
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.FarmerKey, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.FarmerKey, new { @id = "txtFarmerKey", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.SugerMillId, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.DropDownListFor(m => m.SugerMillId, Model.AllSugerMills, "Please Select ...", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.CaneVariety, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EnumDropDownListFor(m => m.CaneVariety, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.CaneVariety, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.PlantRatoon, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EnumDropDownListFor(m => m.PlantRatoon, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.PlantRatoon, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.LandArea, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.LandArea, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.EstimatedAmount, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.EstimatedAmount, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.DateofPlanting, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.DateofPlanting,"{0:dd/MM/yyyy}", new { @type = "date" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.SupplyDate, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.SupplyDate, "{0:dd/MM/yyyy}", new { @class = "form-control kendo-datepicker" })
                            </div>
                        </div>
                        @*<div class="form-group">
                            @Html.LabelFor(m => m.SupplyDate, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.SupplyDate, new { @type = "date" })
                               
                            </div>
                        </div>*@
                        <div class="form-group">
                            @Html.LabelFor(m => m.Note, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextAreaFor(m => m.Note, new { @id = "txtNote", @class = "form-control" })
                            </div>
                        </div>
                        <div class="box-footer" style="float: right;">
                            <button type="submit" value="Submit" class="btn btn-default"><i class="fa fa-check-square-o btn-save"></i> Submit</button>
                            <a href="@ViewBag.ReturnUrl" class="btn btn-default "><i class="fa fa-ban btn-cancel"></i> Cancel</a>
                        </div>
                    }
                    <div id="winViewItem">
                        @Html.Partial("~/Views/SugerMill/FarmersListPopup.cshtml")
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        kendo.culture("de-DE");
        var winViewItem;
        $(document).ready(function () {
            //$.validator.methods.date = function (value, element) {
            //    $.culture = Globalize.culture("en-GB");
            //    var date = Globalize.parseDate(value, "dd/MM/yyyy", "en-GB");
            //    return this.optional(element) ||
            //                   !/Invalid|NaN/.test(new Date(date).toString());
            //};
            $.validator.methods.date = function (value, element) {
                return this.optional(element) || Globalize.parseDate(value, "dd-MM-yyyy", "en");
            }
            $('#farmerPopup').off('click').on('click', function () {
                winViewItem.center().open();
                $('#myWindow').parent().find('.k-window-titlebar,.k-window-actions').css('backgroundColor', '#fe2712');
            });
            winViewItem = $("#winViewItem").kendoWindow({
                minWidth: 700,
                modal: true,
                visible: false,
                draggable: true,
                actions: ["Pin", "Minimize", "Maximize", "Close"],
                title: "Farmer Search",
                open: function () {
                    SetupAnnouncementsDataTable();
                },
                close: function () {
                    itemId = null;
                    $("#winViewItem div[id^='view-']").text("");
                }
            }).data("kendoWindow");
        });
        function SetupAnnouncementsDataTable() {

            var datatable;
            if (datatable != null) {
                datatable.fnDestroy();
                $('#tableFarmerListPopup').empty();
            }
            datatable = $("#tableFarmerListPopup").DataTable({
                bDestroy: true,
                bFilter: false,
                ajax: '@Url.Action("GetAllFarmers", "SugerMill")',
                columnDefs: [
                    { targets: 0, data: null, defaultContent: "<button>Select</button>" },
                    { targets: 1, data: "Name" },
                    {
                        targets: 2, orderable: false,
                        render: function (data, type, row) {
                            return farmer.getFormattedAddress(row);
                        },
                    },
                    { targets: 3, data: "CellPhone", orderable: false },
                    { targets: 4, data: "NationalIdNo", orderable: false },
                    {
                        targets: 5, data: "BirthDate", render: function (data, type, row) {
                            return FormatDateValue(ParseJsonDate(data), { "format": "dd-MM-yyyy" })
                        }
                    }
                ],
                order: [[1, "asc"]],
                lengthChange: true,
                lengthMenu: [[5, 10, 25, -1], [10, 10, 25, "All"]]
            });
            $('#tableFarmerListPopup tbody').on('click', 'button', function () {
                var data = datatable.row($(this).parents('tr')).data();
                getFarmerInfo(data);
            });
        }
        function getFarmerInfo(farmerInfo) {
            winViewItem.close();
            $('#txtFarmerId').val(farmerInfo.Id);
            $('#txtFarmerKey').val(farmerInfo.FarmerIdNo);
            $('#txtFarmerName').val(farmerInfo.Name);
        }
        var farmer = {
            getFormattedAddress: function (row) {
                var formattedAddress = (row.Village || '');
                formattedAddress = (formattedAddress && row.UpazilaName) ? formattedAddress + ', ' + row.UpazilaName : (row.UpazilaName || '');
                formattedAddress = (formattedAddress && row.DistrictName) ? formattedAddress + ', ' + row.DistrictName : (row.DistrictName || '');
                formattedAddress = (formattedAddress && row.StateName) ? formattedAddress + ', ' + row.StateName : (row.StateName || '');
                formattedAddress = (formattedAddress && row.PostalCode) ? formattedAddress + ', ' + row.PostalCode : (row.PostalCode || '');
                return formattedAddress;
            }
        }
    </script>
}
