@using MinervaSystem.Base.Models
@{
    @Styles.Render("~/Content/kendo.office365")
    ViewBag.HeaderContent = ViewBag.HeaderContent ?? new HeaderContentModel("Supply Information",
        new BreadcrumbModel("Supply Information", new List<LinkModel>() { new LinkModel("/SupplyInformation", "Site Action") }));

}

@Html.Partial("_HeaderContentPartial", (HeaderContentModel)ViewBag.HeaderContent)

@Styles.Render("~/Content/datatables")
<link href="~/Content/telerik/kendo.common-material.min.css" rel="stylesheet" />
<link href="~/Content/telerik/kendo.rtl.min.css" rel="stylesheet" />
<link href="~/Content/telerik/kendo.material.min.css" rel="stylesheet" />
<link href="~/Content/telerik/kendo.material.mobile.min.css" rel="stylesheet" />
<style>
    .table > thead > tr > th {
        background: #605ca8;
        color: #fff;
    }
    .child> thead > tr > th {
        background: #ffffff;
        color: #333;
    }
    .form-control {
        height: auto;
    }

    .kendo-datetimepicker {
        width: auto;
    }

    .timePicker {
        width: auto;
    }
</style>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div id="placeHolder-pageDescription">
                        <a href="@Url.Action("CreateSupplyInformation", "SugerMill")" class="addnew-link">
                            <i class="fa fa-plus-square add-icon"></i> Add new supply
                        </a>
                    </div>
                </div>
                <form role="form">
                    <div class="box-body">
                        <div class="row">
                            <div class='col-sm-3'>
                                <div class="form-group">
                                    <label for="txtName">Farmer Name</label>
                                    <input type="text" class="form-control" id="txtName" placeholder="Farmer name">
                                </div>
                            </div>
                            <div class='col-sm-3'>
                                <div class="form-group">
                                    <label for="txtMemberKey">Member Key</label>
                                    <input type="text" class="form-control" id="txtMemberKey" placeholder="Member Key">
                                </div>
                            </div>

                            <div class='col-sm-3'>
                                <div class="form-group">
                                    <label for="txtLandArea">Land Area(Acres)</label>
                                    <input type="text" class="form-control" id="txtLandArea" placeholder="Land Area">
                                </div>
                            </div>
                            <div class='col-sm-3'>
                                <div class="form-group">
                                    <label for="txtEstimatedAmount">Estimated Amount</label>
                                    <input type="text" class="form-control" id="txtEstimatedAmount" placeholder="Estimated Amount">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class='col-sm-3'>
                                <div class="form-group">
                                    <label for="ddlSugerMillId">Suger Mill</label>
                                    <select class="form-control" id="ddlSugerMillId"></select>
                                </div>
                            </div>
                            @*<div class='col-sm-3'>
                                    <div class="form-group">
                                        <label for="ddlCaneVariety">Cane Variety</label>
                                        <select class="form-control" id="ddlCaneVariety"></select>
                                    </div>
                                </div>*@
                            <div class='col-sm-3'>
                                <div class="form-group">
                                    <label for="ddlPlantRatoon">Plant Ratoon</label>
                                    <select class="form-control" id="ddlPlantRatoon"></select>
                                </div>
                            </div>
                            <div class='col-sm-3'>
                                <div class="form-group">
                                    <label for="txtDateofPlanting">Date of Planting</label>
                                    <input type="text" class="form-control kendo-datepicker" id="txtDateofPlanting" placeholder="Date of Planting">
                                </div>
                            </div>
                            <div class='col-sm-3'>
                                <div class="form-group">
                                    <label for="txtSupplyDate">Search Type</label>
                                    <select class="form-control" id="ddlSearchType"></select>
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                                <div class='col-sm-3'>
                                    <div class="form-group">
                                        <label for="txtSupplyDate">Supply Date</label>
                                        <input type="text" class="form-control kendo-datepicker" id="txtSupplyDate" placeholder="Supply Date">
                                    </div>
                                </div>
                            </div>*@
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="button" class="btn btn-primary" onclick="clearSupplyInformation();">Reset</button>
                        <button type="button" class="btn btn-primary" onclick="searchSupplyInformations();">Search</button>
                    </div>
                    <hr style="margin:0" />
                </form>

                <div class="box-body">
                    <table id="tableSupplyInformation" class="table table-striped table-bordered  nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th><input type="checkbox" name="select_all" value="1" id="cbSiSelectAll"></th>
                                <th width="20%">Farmer Name</th>
                                <th width="10%">Mobile No</th>
                                <th width="10%">Plant/Ratoon</th>
                                <th width="10%">Land Area</th>
                                <th width="20%">Estimated Amount</th>
                                <th width="20%">Date of Planting</th>
                                <th width="5%">Total Month</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="winViewItem" style="overflow:hidden;">
    <div style="margin:1px; overflow:hidden;">
        <div class="row">
            <label class="col-xs-2 col-form-label">Name:</label>
            <div class="col-sm-2">
                <p id="soFarmerName" class=""></p>
            </div>
            <label class="col-xs-2 col-form-label">Suger Mill:</label>
            <div class="col-sm-3">
                <p id="soSugerMillName" class=""></p>
            </div>
        </div>
        <div class="row">
            <label class="col-xs-2 col-form-label">Estimated Amount:</label>
            <div class="col-sm-2">
                <p id="soTotalEstimatedAmount" class=""></p>
            </div>
            <label class="col-xs-2 col-form-label">Plant/Ratoon:</label>
            <div class="col-sm-3">
                <p id="soPlantRatoon" class=""></p>
            </div>

        </div>
        <div class="row">
            <label class="col-xs-2 col-form-label">Land Area:</label>
            <div class="col-sm-2">
                <p id="soLandArea" class=""></p>
            </div>
        </div>
        <hr>
        <div class="supplyOrder">
            <div class="row">
                <div class='col-sm-2'>
                    <div class="form-group">
                        <input type="text" class="form-control txtAmountoCollect" placeholder="Amount to Collect">

                    </div>
                </div>
                <div class='col-sm-4' style="padding-right:5px">
                    <div class="form-group">
                        <input type="text" class="form-control kendo-datetimepicker txtCollectionDate" placeholder="Collection Date">
                    </div>

                </div>
                <div class='col-sm-3' style="padding-left:0px">
                    <div class="form-group">
                        <input type="text" class="form-control txtSoNote" placeholder="Note">
                    </div>
                </div>
                <div class="col-xs-1" style="line-height: 2;cursor:pointer">
                    <i class="fa fa-plus" aria-hidden="true" onclick="supplyorder.createSupplyOrderRow(this);"></i>
                </div>
            </div>
        </div>
        <hr>
        <div class="modal-btn-toolbar" style="float:right;">
            <button type="button" id="btnSupplyOrderSubmit" value="Submit" class="btn btn-default" style="float:right"><i class="fa fa-check-square-o btn-save"></i> Submit</button>
            <button onclick="winViewItem.close()" class="btn btn-default" style="float:right"><i class="fa fa-ban btn-cancel"></i> Close</button>
        </div>
    </div>
</div>
<div class="supplyOrderTemplate" style="display:none;">
    <div class="row">
        <div class='col-sm-2'>
            <div class="form-group">
                <input type="text" class="form-control txtAmountoCollect" placeholder="Amount to Collect">
            </div>
        </div>
        <div class='col-sm-4' style="padding-right:5px">
            <div class="form-group">
                <input type="text" class="form-control timePicker txtCollectionDate" placeholder="Collection Date">
            </div>

        </div>
        <div class='col-sm-3' style="padding-left:0px">
            <div class="form-group">
                <input type="text" class="form-control txtSoNote" placeholder="Note">
            </div>
        </div>
        <div class="col-xs-1" style="line-height: 2;cursor:pointer">
            <i class="fa fa-plus" aria-hidden="true" onclick="supplyorder.createSupplyOrderRow(this);"></i>
        </div>
    </div>
</div>
<div id="winDeleteItem">
    <p>
        The supply information will be permanently deleted and cannot be recovered.<br />
        Are you sure you want to delete the item?
    </p>
    <div class="modal-btn-toolbar">
        <button onclick="DeleteSupplyInfo()" class="btn btn-default"><i class="fa fa-close btn-delete"></i> Delete</button>
        <button onclick="winDeleteItem.close()" class="btn btn-default"><i class="fa fa-ban btn-cancel"></i> Cancel</button>
    </div>
</div>

    <table id="tableSupplyOrder" class="table table-striped table-bordered dt-responsive nowrap child" cellspacing="0" style="display:none;">
        <thead>
            <tr>
                <th><input type="checkbox" name="select_all" value="1" id="cbSoSelectAll"></th>
                <th width="5%">Code</th>
                <th width="8%">Amount to Collect</th>
                <th width="8%">Collected Amount</th>
                <th width="8%">Collection Date</th>
                <th width="10%">Note</th>
                <th width="8%">Is Collected</th>
                <th><a class="btn btn-default" tabindex="0" aria-controls="tableSupplyOrder" id="btnChildSMS"><span>Send Sms</span></a></th>
                @*<th>&nbsp;</th>
                <th>&nbsp;</th>*@
            </tr>
        </thead>
    </table>

@section Scripts
{
    @Scripts.Render("~/bundles/DataTables/Allbuttons")
    @Scripts.Render("~/bundles/kendo")
    <script type="text/javascript" language="javascript">
        var datatable;
        var datatable1;
        var winAddItem, winEditItem, winViewItem, winDeleteItem;
        var itemId = null;

        $(document).ready(function () {
            utility.addActiveLink('sOrderSideBarMenu');
            populateDropDown();
            SetupSupplyInformationsDataTable();
            SetupPopupBoxes();
        });
        function populateDropDown() {
            getAllSugerMills();
            var optionsCaneVariety = $("#ddlCaneVariety");
            optionsCaneVariety.append($("<option />").val('').text('Select'));
            optionsCaneVariety.append($("<option />").val('0').text('A'));
            optionsCaneVariety.append($("<option />").val('1').text('B'));
            optionsCaneVariety.append($("<option />").val('2').text('C'));
            optionsCaneVariety.append($("<option />").val('3').text('D'));
            optionsCaneVariety.append($("<option />").val('4').text('E'));
            optionsCaneVariety.append($("<option />").val('5').text('F'));

            var optionsPlantRatoon = $("#ddlPlantRatoon");
            optionsPlantRatoon.append($("<option />").val('').text('Select'));
            optionsPlantRatoon.append($("<option />").val('0').text('Plant'));
            optionsPlantRatoon.append($("<option />").val('1').text('Ratoon'));

            var optionsPlantRatoon = $("#ddlSearchType");
            optionsPlantRatoon.append($("<option />").val('').text('All'));
            optionsPlantRatoon.append($("<option />").val('1').text('Supply Order'));

        }
        function getAllSugerMills() {
            $.ajax({
                url: '@Url.Action("GetAllSugerMillsforDdl", "SugerMill")',
                type: "Post",
                dataType: 'json',
                success: function (response) {
                    var options = $("#ddlSugerMillId");
                    options.append($("<option />").val('').text('Select'));
                    $.each(response.aaData, function (key, value) {
                        options.append($("<option />").val(this.Id).text(this.Name));
                    });
                }, error: function () { }
            });
        }
        function SetupSupplyInformationsDataTable(supplyInformationSearchObj) {
            if (datatable != null) {
                $('#tableSupplyInformation').empty();
            }
            datatable = $("#tableSupplyInformation").DataTable({
                scrollX: true,
                bDestroy: true,
                initComplete: function (settings, json) {
                    supplyOrder1.smsData = json.smsData;
                    supplyOrder1.initSupplyInformationCheckBox(datatable);
                },
                ajax: {

                    url: '@Url.Action("GetAllSupplyInformations", "SugerMill")',
                    type: "Post",
                    //dataType: 'json',
                    data: supplyInformationSearchObj
                },
                columnDefs: [
                    {
                        data: null,
                        targets: 0,
                        searchable:false,
                        orderabl: false,

                        className: 'dt-body-center',
                        render: function (data, type, full, meta) {
                            return '<i class="fa fa-plus-circle details-control"></i><input type="checkbox" class="siCB" name="id[]" value="' + $('<div/>').text(data).html() + '">';
                        }
                    },
                    //{ targets: 1, data: null, orderable: false, class: "details-control", defaultContent: "" },
                    { targets: 1, data: "Name" },
                    { targets: 2, data: "MobileNo", orderable: false },
                    { targets: 3, data: "PlantRatoon", orderable: false },
                    { targets: 4, data: "LandArea", orderable: false },
                    { targets: 5, data: "EstimatedAmount", orderable: false },
                    { targets: 6, data: "DateofPlanting", render: function (data, type, row) { return FormatDateValue(ParseJsonDate(data), { "format": "dd-MM-yyyy" }) } },
                    {
                        targets: 7, render: function (data, type, row) {
                            var totalmonth = 0;
                            if (row.DateofPlanting)
                            {
                                FormatDateValue(ParseJsonDate(row.DateofPlanting), { "format": "dd-MM-yyyy" });
                                var from = FormatDateValue(ParseJsonDate(row.DateofPlanting)).split("-");
                                var f = new Date(from[2], from[1] - 1, from[0]);
                                totalmonth = supplyorder.monthDiff(f, new Date());
                            }
                            return totalmonth;
                         }
                     },
                    {
                        targets: 8, data: null, orderable: false, class: "text-center view-control",
                        render: function (data, type, row) {
                            var totalmonth = 0;
                            if (row.DateofPlanting) {
                                FormatDateValue(ParseJsonDate(row.DateofPlanting));
                                var from = FormatDateValue(ParseJsonDate(row.DateofPlanting)).split("/");
                                var f = new Date(from[2], from[1] - 1, from[0]);
                                totalmonth = supplyorder.monthDiff(f, new Date());
                            }
                            if ((row.PlantRatoon == 'Plant' && totalmonth >= 12) || (row.PlantRatoon == 'Ratoon' && totalmonth >= 12 && totalmonth <= 14)) {
                                return "<a onclick='supplyorder.initSupplyOrder(this);'><i id='addHide' class='fa fa-bars'></i></a>";
                            }else return "<i id='addHide' class='fa fa-bars'></i>";

                        }
                    },
                    { targets: 9, data: null, orderable: false, class: "text-center edit-control", render: function (data, type, row) { return "<a href='@Url.Action("UpdateSupplyInformation", "SugerMill")/" + row.Id + "'><i class='fa fa-edit'></i></a>"; } },
                    { targets: 10, data: null, orderable: false, class: "text-center delete-control", render: function (data, type, row) { return "<a onclick='itemId=" + row.Id + ";winDeleteItem.center().open();'><i class='fa fa-remove'></i></a>"; } }],
                order: [[1, "asc"]],
                lengthChange: true,
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]]
            });
            new $.fn.dataTable.Buttons(datatable, [

                                                {
                                                    text: 'Send Sms',
                                                    action: function ( e, dt, node, config ) {
                                                        supplyOrder1.sendBulkSMSsi(datatable);
                                                    }
                                                },

                                               {
                                                   extend: 'excel',
                                                   text: '<span class="fa fa-file-excel-o"></span> Excel',
                                                   exportOptions: {
                                                       modifier: {
                                                           search: 'applied',
                                                           order: 'applied'
                                                       }
                                                   }
                                               },
                                               {
                                                   extend: 'pdf',
                                                   text: '<span class="fa fa-file-pdf-o"></span> PDF',
                                                   exportOptions: {
                                                       modifier: {
                                                           search: 'applied',
                                                           order: 'applied'
                                                       }
                                                   }
                                               },
                                                  {
                                                      extend: 'print',
                                                      text: '<span class="fa fa-print"></span> Print',
                                                      exportOptions: {
                                                          modifier: {
                                                              search: 'applied',
                                                              order: 'applied'
                                                          }
                                                      }
                                                  }
            ]);

            datatable.buttons().container().appendTo($('.col-sm-6:eq(0)', datatable.table().container()));
            datatable.buttons().container().appendTo('#tableSupplyInformation_filter');

            $("#tableSupplyInformation tbody").on("click", "i.details-control", function () {

                var tr = $(this).closest("tr");
                var row = datatable.row(tr);
                //var rowData = datatable.row(tr).data();

                if (row.child.isShown()) {  // This row is already open, close it
                    row.child.hide();
                    $(this).removeClass('fa-minus-circle').addClass('fa-plus-circle');
                }
                else {

                    //Close any opened rows
                    var openedTr = $(this).closest("table").find("tr.shown");
                    datatable.row(openedTr).child.hide();
                    openedTr.removeClass("shown");

                    if (row.child.isShown()) {
                        row.child.hide();
                        tr.removeClass("shown");
                        $(this).removeClass('fa-minus-circle').addClass('fa-plus-circle');
                    }
                    else {
                        $(this).removeClass('fa-plus-circle').addClass('fa-minus-circle');
                        var table = $('<table id="childTable" class="table table-striped table-bordered dt-responsive nowrap child"></table>');
                        table.html($('#tableSupplyOrder').html());
                        var test= table.DataTable({
                            bDestroy: true,
                            paging: false,
                            //pagingType: "full_numbers",
                            initComplete: function (settings, json) {
                                $('#childTable').DataTable({ paging: true, });
                                row.child(table).show();
                                tr.addClass("shown");
                                supplyOrder1.initSupplyOrderCheckBox(test);
                                $('#btnChildSMS').off('click').click(function () {
                                    supplyOrder1.sendBulkSMSsO(test);
                                });
                            },
                            ajax: {
                                url: '@Url.Action("GetAllSupplyOrderbySupplyInfoId", "SugerMill")',
                                type: "POST",
                                data: { supplyInfoId: row.data().Id },
                            },
                            columnDefs: [
                                {
                                    targets: 0,
                                    searchable:false,
                                    orderable:false,
                                    className: 'dt-body-center',
                                    render: function (data, type, full, meta){
                                        return '<input type="checkbox" class="childCB" name="id[]" value="' + $('<div/>').text(data).html() + '">';
                                    }
                                },
                                { targets: 1, data: "Code" },
                                { targets: 2, data: "AmounttoCollect", orderable: true },
                                { targets: 3, data: "CollectedAmount", orderable: false },
                                { targets: 4, data: "CollectionDate", render: function (data, type, row) { return FormatDateValue(ParseJsonDate(data), { "format": "dd-MM-yyyy" }) } },
                                { targets: 5, data: "Note", orderable: false },
                                { targets: 6, data: "IsCollected", orderable: false },
                                { targets: 7, data: null, orderable: false, class: "text-center view-control", render: function (data, type, row) { return "<a onclick='supplyorder.initSupplyOrder(this);'><i id='addHide' class='fa fa-bars'></i></a> <a href='@Url.Action("UpdateSupplyOrder", "SugerMill")/" + row.Id + "'><i class='fa fa-edit'></i></a><a onclick='itemId=" + row.Id + ";winDeleteItem.center().open();'><i class='fa fa-remove'></i></a>"; } },
                                @*{ targets: 8, data: null, orderable: false, class: "text-center edit-control", render: function (data, type, row) { return "<a href='@Url.Action("UpdateSupplyOrder", "SugerMill")/" + row.Id + "'><i class='fa fa-edit'></i></a>"; } },
                                { targets: 9, data: null, orderable: false, class: "text-center delete-control", render: function (data, type, row) { return "<a onclick='itemId=" + row.Id + ";winDeleteItem.center().open();'><i class='fa fa-remove'></i></a>"; } }*@
                            ],
                            order: [[1, "asc"]],
                            //lengthChange: true,
                            //lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]]
                        });


                    }

                }
            });
        }

        function SetupPopupBoxes() {
            winViewItem = $("#winViewItem").kendoWindow({
                minWidth: 600,
                modal: true,
                visible: false,
                draggable: true,
                actions: ["Pin", "Minimize", "Maximize", "Close"],
                title: "Supply Order",
                open: function (obj) {
                },
                close: function () {
                    itemId = null;
                    $('.supplyOrder').html('');
                    $('.supplyOrder').append($('.supplyOrderTemplate').html());
                    $('.supplyOrder').find('.timePicker').last().kendoDateTimePicker({
                        value: new Date(),
                        format: "dd/MM/yyyy hh:mm tt",
                        interval: 15
                    });
                }
            }).data("kendoWindow");

            winDeleteItem = $("#winDeleteItem").kendoWindow({
                minWidth: 500,
                modal: true,
                visible: false,
                draggable: false,
                title: "Delete Announcement",
                close: function () { itemId = null; }
            }).data("kendoWindow");
        }

        function DeleteSupplyInfo() {
            if (itemId != null) {
                $.ajax({
                    url: '@Url.Action("GetFarmerDetails", "DeleteFarmer")', type: "Post",
                    data: { farmerId: itemId },
                    async: false, cache: false,
                    success: function (response) {
                        winDeleteItem.close();
                        datatable.ajax.reload();
                        return true;
                    }, error: function () { return false; }
                });
            }
        }
        function searchSupplyInformations() {
            var supplyInformationSearchObj = new Object();
            supplyInformationSearchObj.MemberKey = !$("#txtMemberKey").val() ? null : $("#txtMemberKey").val();
            supplyInformationSearchObj.Name = !$("#txtName").val() ? null : $("#txtName").val();
            var landArea = parseFloat($('#txtLandArea').val());
            supplyInformationSearchObj.LandArea = isNaN(landArea) ? null : landArea;
            var estimatedAmount = parseFloat($('#txtEstimatedAmount').val());
            supplyInformationSearchObj.EstimatedAmount = isNaN(estimatedAmount) ? null : estimatedAmount;
            var sugerMillId = parseInt($("#ddlSugerMillId").val());
            supplyInformationSearchObj.SugerMillId = isNaN(sugerMillId) ? null : sugerMillId;
            var caneVariety = parseInt($("#ddlCaneVariety").val());
            supplyInformationSearchObj.CaneVariety = isNaN(caneVariety) ? null : caneVariety;
            var plantRatoon = parseInt($("#ddlPlantRatoon").val());
            supplyInformationSearchObj.PlantRatoon = isNaN(plantRatoon) ? null : plantRatoon;
            supplyInformationSearchObj.DateofPlanting = !$("#txtDateofPlanting").val() ? null : $("#txtDateofPlanting").val();
            supplyInformationSearchObj.SearchType = !$("#ddlSearchType").val() ? null : $("#ddlSearchType").val();
            if (supplyInformationSearchObj) {
                SetupSupplyInformationsDataTable(supplyInformationSearchObj);
            }
        }

        function clearSupplyInformation() {
            $("#txtMemberKey").val('');
            $("#txtName").val('');
            $("#txtLandArea").val('');
            $("#txtEstimatedAmount").val('');
            $("#ddlSugerMillId").val('');
            $("#ddlCaneVariety").val('');
            $("#ddlPlantRatoon").val('');
            $("#ddlSearchType").val('');
            $("#txtDateofPlanting").val('');
        }

        var supplyorder = {
            initSupplyOrder: function (obj) {
                var tr = $(obj).closest("tr");
                var supplyOrderData = datatable.row(tr).data();
                supplyorder.clearSupplyOrderData();
                supplyorder.loadSupplyOrderPopup(supplyOrderData);
                $('#btnSupplyOrderSubmit').off('click').click(function () {
                    supplyorder.createSupplyOrder(supplyOrderData);
                });
                winViewItem.center().open();
            },
            createSupplyOrderRow: function (addRow) {
                $('.supplyOrder').append($('.supplyOrderTemplate').html());
                $(addRow).removeClass('fa-plus').addClass('fa-minus');
                $(addRow).attr("onclick", "supplyorder.deleteSupplyOrderRow(this)");
                $('.supplyOrder').find('.txtCollectionDate').last().kendoDateTimePicker({
                    value: new Date(),
                    format: "dd/MM/yyyy hh:mm tt",
                    interval: 15
                });
            },
            deleteSupplyOrderRow: function (addRow) {
                if ($('.supplyOrder').children().length > 1) $(addRow).closest('.row').remove();
            },
            loadSupplyOrderPopup: function (supplyOrderData) {
                $("#soFarmerName").text(supplyOrderData.Name);
                $("#soSugerMillName").text(supplyOrderData.SugerMillName);
                $("#soPlantRatoon").text(supplyOrderData.PlantRatoon);
                $("#soLandArea").text(supplyOrderData.LandArea);
                $("#soTotalEstimatedAmount").text(supplyOrderData.EstimatedAmount);
            },
            createSupplyOrder: function (supplyOrderData) {
                var listSupplyOrderRequest = supplyorder.getSupplyOrderData(supplyOrderData);
                var isError = supplyorder.validateSupplyOrder(listSupplyOrderRequest);
                things = JSON.stringify({ 'things': listSupplyOrderRequest });
                if (!isError) {
                    $.ajax({
                        contentType: 'application/json; charset=utf-8',
                        url: '@Url.Action("PassThings", "SugerMill")',
                        type: "POST",
                        dataType: 'json',
                        data: things,
                        success: function (response) {
                            if (response.status == 0) {
                                winViewItem.close();
                                //supplyorder.sendSMS(response);
                            } else {
                                alert(response.responseMsg);
                            }

                        }, error: function (response) {
                            alert("Error occured!!! Contact to admonistrator!!!");
                        }
                    });
                } else alert("Please Enter Required Information.");
            },
            validateSupplyOrder: function (listSupplyOrderRequest) {
                var msg = "";
                if (listSupplyOrderRequest.length > 0) {
                    $.each(listSupplyOrderRequest, function (i) {
                        var supplyOrderData = listSupplyOrderRequest[i];
                        if (!supplyOrderData.EstimatedAmount || !supplyOrderData.CollectionDate) {
                            msg = "error";
                        }
                    });
                    if (msg) return true;
                    else false;
                } else {
                    return false;
                }

            },
            getSupplyOrderData: function (supplyOrderData) {
                var listSupplyOrderRequest = [];
                $('.supplyOrder .row').each(function () {
                    var SupplyOrderRequest = {};
                    SupplyOrderRequest.SugerMillId = supplyOrderData.SugerMillId;
                    SupplyOrderRequest.SupplyInformationId = supplyOrderData.Id;
                    SupplyOrderRequest.MobileNo = supplyOrderData.MobileNo;
                    SupplyOrderRequest.MemberKey = supplyOrderData.MemberKey;
                    SupplyOrderRequest.MemberName = supplyOrderData.Name;
                    var CollectedAmount = parseFloat($(this).find('.txtAmountoCollect').val());
                    SupplyOrderRequest.EstimatedAmount = isNaN(CollectedAmount) ? null : CollectedAmount;
                    SupplyOrderRequest.CollectionDate = !$(this).find(".txtCollectionDate input[type=text]").val() ? null : $(this).find(".txtCollectionDate input[type=text]").val();
                    SupplyOrderRequest.Note = !$(this).find(".txtSoNote").val() ? null : $(this).find(".txtSoNote").val();
                    if (SupplyOrderRequest) listSupplyOrderRequest.push(SupplyOrderRequest);
                });
                return listSupplyOrderRequest;
            },
            sendSMS: function (response) {
                var smsRequest = supplyorder.getSMSrequest(response);
                window.location.href = "https://rest.nexmo.com/sms/xml?api_key=a04d07fb&api_secret=83bfa18e&from=Admin&to=" + response.mobileNo + "&text="+response.responseMsg;

                $.ajax({
                    url: response.url,
                    type: "POST",
                    data: JSON.stringify(smsRequest),
                    headers: { "Authorization": response.authorization },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        winViewItem.close();
                        alert("You will get a quick SMS");
                    }, error: function (response) {
                        console.log(response);
                    }
                });
            },
            getSMSrequest: function (response) {
                var smsRequest = new Object();
                smsRequest.from = response.from;
                smsRequest.to = response.mobileNo;
                smsRequest.text = response.responseMsg;
                return smsRequest;
            },
            clearSupplyOrderData: function () {
                $("#soFarmerName").text('');
                $("#soSugerMillName").text('');
                $("#soPlantRatoon").text('');
                $("#soLandArea").text('');
                $("#soTotalEstimatedAmount").text('');
                $("#txtAmountoCollect").val('');
                $("#txtCollectionDate").val('');
                $("#txtSoNote").val('');
            },
            monthDiff:function (d1, d2) {
                var months;
                months = (d2.getFullYear() - d1.getFullYear()) * 12;
                months -= d1.getMonth() + 1;
                months += d2.getMonth();
                return months <= 0 ? 0 : months;
            },
        }
    </script>
}
